{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "prettier/prettier": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off"
  },
  "ignorePatterns": ["garbage/*", "loader/*", "loader_local/*"], // <<< ignore all files in test folder
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "./"]
      }
    }
  }
}
